{% extends 'msbox/public.html' %}

{% block bktitle %}系统管理管理{% endblock %}

{% block bkcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/msgbox/sysmanage.css') }}">
{% endblock %}

{# 主要内容部分 #}
{% block bk_content %}
    <div class="sysmanage relative">
        <div class="usr_tool">
            <button type="button" class="btn btn-primary btn_fix"><i class="glyphicon glyphicon-plus"></i> 创建</button>
            <div class="search_tool fr">
                选择系统状态:
                <select class="form-control inline-text" id="">
                    <option value="0">所有</option>
                    <option value="1">未开启</option>
                    <option value="2">运行中</option>
                </select>
                系统名称: <input type="text" class="form-control inline-text" placeholder="系统名称">
                <button class="btn btn-warning btn_fix"><i class="glyphicon glyphicon-search"></i> 查询</button>

            </div>
            <div class="syscont">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th>序号</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>IP</th>
                        <th>端口</th>
                        <th>地址</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bangalore</td>
                        <td>Bangalore</td>
                        <td>192.168.8.51</td>
                        <td>80</td>
                        <td>http://192.168.8.51/login.html</td>
                        <td>关闭</td>
                        <td>2019-12-31 20:23</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info">开启</button>
                            <button type="button" class="btn btn-sm btn-success">修改</button>
                            <button type="button" class="btn btn-sm btn-danger">删除</button>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Bangalore</td>
                        <td>Bangalore</td>
                        <td>192.168.8.51</td>
                        <td>80</td>
                        <td>http://192.168.8.51/login.html</td>
                        <td>关闭</td>
                        <td>2019-12-31 20:23</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info">开启</button>
                            <button type="button" class="btn btn-sm btn-success">修改</button>
                            <button type="button" class="btn btn-sm btn-danger">删除</button>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Bangalore</td>
                        <td>Bangalore</td>
                        <td>192.168.8.51</td>
                        <td>80</td>
                        <td>http://192.168.8.51/login.html</td>
                        <td>开启</td>
                        <td>2019-12-31 20:23</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">关闭</button>
                            <button type="button" class="btn btn-sm btn-success">修改</button>
                            <button type="button" class="btn btn-sm btn-danger">删除</button>
                        </td>
                    </tr>


                    </tbody>
                </table>
                <div class="text-center stick_button">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# 引用的js文件 #}
{% block bkjs %}
    <script src="{{ url_for('static', filename='js/msgbox/sysmanage.js') }}"></script>
{% endblock %}