{% extends 'msbox/public.html' %}

{% block bktitle %}用户管理{% endblock %}

{% block bkcss %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename="plugins/zTree_v3-master/css/metroStyle/metroStyle.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/msgbox/usrmanage.css") }}">
    <style type="text/css">
        /*******************菜单右键样式开始*******************/
        div#rMenu {
            position: absolute;
            visibility: hidden;
            top: 0;
            background-color: #555;
            text-align: left;
            padding: 2px;
            z-index: 10000;
        }

        div#rMenu ul li {
            margin: 1px 0;
            padding: 0 5px;
            cursor: pointer;
            list-style: none outside none;
            background-color: #DFDFDF;
        }

        /*******************菜单右键样式结束*******************/
    </style>
{% endblock %}

{# 主要内容部分 #}
{% block bk_content %}

    {# ===================右键menu开始================= #}
    <div id="rMenu">
        <ul>
            <li id="m_add">增加节点</li>
            <li id="m_del">删除节点</li>
            <li id="m_mod">修改节点</li>
        </ul>
    </div>
    {# ===================右键menu结束================= #}



    <div class="usrmanage">
        {# 左侧组织树 #}
        <div class="orgtree topnav_box">
            <div class="orgtree_title">部门组织结构</div>
            <div id="treeDemo" class="ztree"></div>
        </div>
        <div class="usr_main">
            <div class="usr_tool" id="usr_tool">
                <button type="button" id="btn_createusr" class="btn btn-primary"><i
                        class="glyphicon glyphicon-plus"></i> 创建
                </button>&nbsp;&nbsp;
                <button type="button" id="btn_refreshusr" class="btn btn-info"><i
                        class="glyphicon glyphicon-refresh"></i> 刷新
                </button>
                <div class="search_tool fr">
                    输入用户名: <input id="usrname" type="text" class="form-control inline-text" placeholder="请输入用户名">
                    输入工号: <input id="workerid" type="text" class="form-control inline-text" placeholder="请输入工号">
                    <button id="filterquery" class="btn btn-warning btn_search"><i
                            class="glyphicon glyphicon-search"></i> 查询
                    </button>
                </div>
            </div>
            <div class="usr_info">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th width="60px">序号</th>
                        <th width="80px">姓名</th>
                        <th>工号</th>
                        {#                        <th>密码</th>#}
                        <th>所在部门</th>
                        <th width="120">操作</th>
                    </tr>
                    </thead>

                    {# 使用raw是为了让js的art-template渲染页面 #}
                    {% raw %}
                    <tbody id="usrtbody">
                    <script type="text/html" id="tableTemp">
                        <%  if (item.data.length == 0) { %>
                        <tr>
                            <td colspan="5" class="text-center">暂无数据</td>
                        </tr>
                        <% } else { %>
                        <%for(let i = 0; i < item.data.length; i++){%>
                        <tr>
                            <td><%=((item.page - 1)*item.size+ i + 1)%></td>
                            <td><%=item.data[i].usrname%></td>
                            <td><%=item.data[i].workerid%></td>
                            <td><%=item.data[i].depname%></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-success"
                                        onclick="modifyUsr('{{ item.data[i].id }}', '{{ item.data[i].usrname }}')">修改
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"

                                        onclick="delUsr('{{ item.data[i].id}}', '{{ item.data[i].usrname }}')">删除
                                </button>
                            </td>
                        </tr>
                        <%}%>
                        <% } %>
                    </script>
                    </tbody>
                    {% endraw %}
                </table>

            </div>
            <div class="pagination_elem">
                <!-- 分页部分 -->
                <ul class="pagination">
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{# 引用的js文件 #}
{% block bkjs %}
    <script src="{{ url_for('static', filename='plugins/zTree_v3-master/js/jquery.ztree.core.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/zTree_v3-master/js/jquery.ztree.exedit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/msgbox/usrmanage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/msgbox/usrmanage-org.js') }}"></script>
    <script>
        /**
         * 修改用户
         * @param usrid
         */
        function modifyUsr(usrid, name) {
            $.closeall_layer()
            layer.open({
                type: 2,
                title: '修改用户-' + name,
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['800px', '580px'],
                content: '{{ url_for('bn.usrmodi')}}' + '?usrid=' + usrid // 新增用户页面
            });
        }

        /**
         * 删除用户
         * @param usrid
         */
        function delUsr(usrid, name) {
            console.log(usrid)
            swal({
                icon: "info",
                text: "确定要删除用户" + name + "吗？",
                buttons: {
                    cancel: {
                        text: "取消",
                        visible: true,
                        className: 'btn',
                        closeModal: true,
                    },
                    confirm: {
                        text: "确定",
                        className: 'btn btn-primary',
                        closeModal: true,
                    }
                }
            }).then(function (result) {
                if (result) {
                    $.post("/usrdel?usrid=" + usrid, function (data) {
                        if (data.re_code == "0") {
                            swal("删除成功", {
                                icon: 'success',
                                button: false,
                                timer: 1200
                            });
                            setTimeout(function () {
                                location.reload()
                            }, 1100)
                        } else {
                            swal(data.msg, {
                                icon: 'error',
                                button: false,
                                timer: 1200
                            })
                        }
                    })
                }
            });
        }

        $(function () {

            // 新建打开模态框
            $("#btn_createusr").click(function () {
                $.closeall_layer()
                layer.open({
                    type: 2,
                    title: '创建用户',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area: ['800px', '580px'],
                    content: '{{ url_for('bn.usradd') }}' // 新增用户页面
                });
            });

        });
    </script>
{% endblock %}