<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-登录</title>
    <script src="{{ url_for('static', filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/socket.io.js") }}"></script>
</head>
<body>
这个是登录页面
<form method="post">
    用户名: <input type="text" name="username">
    <input type="submit" value="登录">
</form>

<br>
测试websocket通信:
<div class="socketwrapper" id="time" style="width:300px;height:300px;border:solid 1px gray;">
</div>

<input type="text" name="msg" id="msg" placeholder="请输入要发送给服务器端的消息"/>
<br>
<button id="sendmsg" type="button">发送</button>
<script>
    $(function () {
        var socket = io.connect('ws://127.0.0.1:5000/websocket/user_refresh');
        socket.on('connect', function () {
            socket.emit("connect_event", {data: '我已经连接上服务器'})
        });

        socket.on('server_response', function (msg) {
            console.log(msg)
        });

        socket.on("server_respchat", function (msg) {
            console.log("发送消息后，后端返回了:", msg.data);
            textnode = document.createTextNode(msg.data)
            $("#time").append(textnode).append($("<br/>"))
            $("#msg").val("")
        });

        // 点击发送
        $("#sendmsg").click(function () {
            var msg = $("#msg").val()
            socket.emit("receive_msg", {data: msg})
        });


    });
</script>


<script type="text/javascript">
    /**
     * 解析json树算法
     * @param setting
     * @param sNodes
     * @returns {[]|*[]}
     */
    function transformTozTreeFormat(setting, sNodes) {
        var i, l,
            key = setting.idKey, // id的键
            parentKey = setting.parentKey, // 父节点的键
            childKey = setting.childKey; // 子节点的键
        if (!key || key == "" || !sNodes) return []; // 判断空


        var r = []; // 最终的结果
        var tmpMap = {};
        for (i = 0, l = sNodes.length; i < l; i++) {
            tmpMap[sNodes[i][key]] = sNodes[i];
        }
        for (i = 0, l = sNodes.length; i < l; i++) {
            if (tmpMap[sNodes[i][parentKey]] && sNodes[i][key] != sNodes[i][parentKey]) {
                if (!tmpMap[sNodes[i][parentKey]][childKey])
                    tmpMap[sNodes[i][parentKey]][childKey] = [];
                tmpMap[sNodes[i][parentKey]][childKey].push(sNodes[i]);
            } else {
                r.push(sNodes[i]);
            }
        }
        return r;

    }

    var setting = {idKey: 'id', parentKey: 'pId', childKey: 'children'};

    var zNodes = [
        {id: 1, pId: 0, name: "父节点1 - 展开", open: true},
        {id: 11, pId: 1, name: "父节点11 - 折叠"},
        {id: 111, pId: 11, name: "叶子节点111"},
        {id: 112, pId: 11, name: "叶子节点112"},
        {id: 113, pId: 11, name: "叶子节点113"},
        {id: 114, pId: 11, name: "叶子节点114"},
        {id: 12, pId: 1, name: "父节点12 - 折叠"},
        {id: 121, pId: 12, name: "叶子节点121"},
        {id: 122, pId: 12, name: "叶子节点122"},
        {id: 123, pId: 12, name: "叶子节点123"},
        {id: 124, pId: 12, name: "叶子节点124"},
        {id: 13, pId: 1, name: "父节点13 - 没有子节点", isParent: true},
        {id: 2, pId: 0, name: "父节点2 - 折叠"},
        {id: 21, pId: 2, name: "父节点21 - 展开", open: true},
        {id: 211, pId: 21, name: "叶子节点211"},
        {id: 212, pId: 21, name: "叶子节点212"},
        {id: 213, pId: 21, name: "叶子节点213"},
        {id: 214, pId: 21, name: "叶子节点214"},
        {id: 22, pId: 2, name: "父节点22 - 折叠"},
        {id: 221, pId: 22, name: "叶子节点221"},
        {id: 222, pId: 22, name: "叶子节点222"},
        {id: 223, pId: 22, name: "叶子节点223"},
        {id: 224, pId: 22, name: "叶子节点224"},
        {id: 23, pId: 2, name: "父节点23 - 折叠"},
        {id: 231, pId: 23, name: "叶子节点231"},
        {id: 232, pId: 23, name: "叶子节点232"},
        {id: 233, pId: 23, name: "叶子节点233"},
        {id: 234, pId: 23, name: "叶子节点234"},
        {id: 3, pId: 0, name: "父节点3 - 没有子节点", isParent: true}
    ];

    var json = transformTozTreeFormat(setting, zNodes);
    //console.log(JSON.stringify(json));
    //alert(JSON.stringify(json));
    function resolve() {
        document.getElementById("json_div").innerHTML = JSON.stringify(json);
    }


    $(function () {
        $("#parseJSON").click(function () {
            resolve()
        });
    });

</script>
<!-- json树解析 -->
<button type="button" id="parseJSON">解析</button>
<div id="json_div"></div>
</body>
</html>