<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页-登录</title>
    <script src="{{ url_for('static', filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/socket.io.js") }}"></script>
</head>
<body>
这个是登录页面
<form method="post">
    用户名: <input type="text" name="username">
    <input type="submit" value="登录">
</form>

<br>
测试socket通信:
<div class="socketwrapper" id="time" style="width:300px;height:300px;border:solid 1px gray;">
</div>
<script>
    $(function () {
        var socket = io.connect('ws://127.0.0.1:5000/websocket/user_refresh');
        socket.on('connect', function () {
            socket.emit("connect_event", {data: '我已经连接上服务器'})
        });

        socket.on('server_response', function (msg) {
            console.log(msg)
        })
    });
</script>
</body>
</html>